{{dateMaintenant | date :'dd/MM/yy'}}<br><br>

<h1>BIENVENUE SUR VOTRE PAGE PROFIL : {{ utilisateur | fullname }} </h1><br>

<img mat-card-image class="image-utilisateur" [attr.src]="utilisateur.imageProfil"><br><br>

<h2>Vos informations personnelles</h2><br>

<div class="container"></div>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        
        <p> 
        <mat-card-title>VOTRE IDENTITE : {{ utilisateur | fullname }}</mat-card-title>
        <br>
          <i>
            Membre depuis le :
            {{utilisateur.dateCreation | date :"dd/MM/yyyy" }}
            <br><br>
            Mis a jour le :
            {{utilisateur.dateMiseAJour | date :"dd/MM/yyyy" }}
            <br><br>
            Votre adresse Email :
            {{ utilisateur.email }}
            <br><br>
            Votre numéro de téléphone : 
            {{ utilisateur.telephone }} 
            <br><br>
            Vos derniers prêts : 
            <br><br>
            Liste des matériels emprunté :
            <br><br>
          </i>
        <div>
    </div>
</mat-card-header>
     


